/* Overlay and Login */

#wunderlist_overlay {

  border: none !important;
  height: 100% !important;
  width: 100% !important;
  position: fixed !important;
  z-index: 99999999 !important;
  top: 0px !important;
  left: 0px !important;
  opacity: 1 !important;
  display: block !important;
  -webkit-transition: opacity 50ms linear !important;
}

/* Gmail Button */

#addToWunderlistButton.gmail {

  padding-right: 14px !important;
  padding-left: 35px !important;
}

#addToWunderlistButton.gmail span.wunderlist-icon {

  top: 5px !important;
  left: 14px !important;
  position: absolute !important;
  background: url(https://www.wunderlist.com/icon.png) !important;
  height: 16px !important;
  width: 16px !important;
  display: inline-block !important;
  background-size: 16px !important;
}

#addToWunderlistButton.gmail:hover {

  border-color:#C6C6C6 !important;
  box-shadow:0 1px 2px rgba(0,0,0,0.1) !important;
}

/* Outlook Button */

#addToWunderlistButton.outlook span.wunderlist-icon {

  top: 4px !important;
  left: -5px !important;
  position: relative !important;
  background: url(https://www.wunderlist.com/icon.png) !important;
  height: 16px !important;
  width: 16px !important;
  display: inline-block !important;
  background-size: 16px !important;
}

#wunderlist-container {

  background-image: none !important;
}

/* Amazon Button */

#addToWunderlistButton.amazon {

  -webkit-font-smoothing:antialiased !important;
  padding: 10px 0 !important;
  margin-bottom: 10px !important;
  font-family: "Helvetica Neue","Helvetica","Arial",Sans-Serif !important;
  cursor: pointer !important;
  text-align: center !important;
  width: 100% !important;
  background: #5cb6e7 !important;
  background: -webkit-gradient(linear,left top,left bottom,from(#5cb6e7),to(#317cd7)) !important;
  background: -moz-linear-gradient(top,#5cb6e7,#317cd7) !important;
  background: -ms-linear-gradient(top,#5cb6e7,#317cd7) !important;
  background: linear-gradient(top,#5cb6e7,#317cd7) !important;
  color: white !important;
  font-weight: bold !important;
  border:1px solid #0C67A5 !important;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5) !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3) !important;
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3) !important;
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3) !important;
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3) !important;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3) !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
}

#addToWunderlistButton.amazon span.wunderlist-icon {

  float:left !important;
  height:24px !important;
  width:24px !important;
  background: url(https://www.wunderlist.com/icon.png) !important;
  background-size: 24px !important;
  margin-left:10px !important;
  margin-top:-2px !important;
}

/* IMDB Button */
#addToWunderlistButton.imdb {

  padding:0 8px !important;
  margin: 37px 0 0 0 !important;
  float: right !important;
}

#addToWunderlistButton.imdb span.wunderlist-icon {
  
    float:left !important;
    height:16px !important;
    width:16px !important;
    background: url(https://www.wunderlist.com/icon.png) !important;
    background-size: 16px !important;
    margin-top: 6px !important;
    margin-right: 6px !important;
}

#addToWunderlistButton.asos {

  margin: 12px 100px 0 0 !important;
  float: right !important;
}

#addToWunderlistButton.asos span.wunderlist-icon {

  margin: 0 10px 0 0 !important;
  vertical-align: bottom !important;
  display: inline-block !important;
  height: 14px !important;
  width: 14px !important;
  background: url(https://www.wunderlist.com/icon.png) !important;
  background-size: 14px !important;
}

#addToWunderlistButton.youtube {

  cursor: pointer !important;
  border-radius: 2px !important;
  margin-left: 13px !important;
  font-size: 12px !important;
  vertical-align: middle !important;
  padding: 4px 13px !important;
  border: 1px solid #aaa !important;
  display: inline !important;
}

#addToWunderlistButton.youtube span.wunderlist-icon {

  display: inline-block !important;
  height:16px !important;
  width:16px !important;
  background: url(https://www.wunderlist.com/icon.png) !important;
  background-size: 16px !important;
  margin: 3px 0px 0 3px !important;

  position: relative !important;
  left: -8px !important;
  top: 4px !important;
}

#addToWunderlistButton.ebay {

  cursor: pointer !important;
  background: #FFF !important;
  margin-top: 10px !important;
  padding: 2px 14px !important;
  border: 1px solid #999 !important;
  float: left !important;
}