/* Overlay and Login */

#wunderlist_overlay {

  background: none !important;
  border: none !important;
  height: 100% !important;
  width: 100% !important;
  position: fixed !important;
  z-index: 99999999 !important;
  top: 0px !important;
  left: 0px !important;
  display: block !important;
}

#addToWunderlistButton {
  cursor: pointer !important;
}

#addToWunderlistButton span.wunderlist-icon {
  background: url(https://www.wunderlist.com/icon.png) !important;
  display:inline-block !important;
  background-size: 16px !important;
  width: 16px !important;
  height: 16px !important;
}

/* GMAIL */

#addToWunderlistButton.gmail {
  padding-right: 14px !important;
  padding-left: 35px !important;
}

#addToWunderlistButton.gmail:hover {
  border-color:#C6C6C6 !important;
  box-shadow:0 1px 2px rgba(0,0,0,0.1) !important;
}

#addToWunderlistButton.gmail span.wunderlist-icon {
  top: 5px !important;
  left: 14px !important;
  position: absolute !important;
}

/* OUTLOOK */

#addToWunderlistButton.outlook span.wunderlist-icon {
  margin-top: 12px !important;
  float: left;
  margin-right: 6px;
}

/* YAHOO MAIL */

#addToWunderlistButton.yahoo {}

#addToWunderlistButton.yahoo span.wunderlist-icon {

  left: 3px;
  top: 5px;
  width: 16px;
  height: 16px;
  position: absolute;
}

/* AMAZON */

#addToWunderlistButton.amazon {
  -webkit-font-smoothing:antialiased !important;
  padding: 10px 0 !important;
  margin-bottom: 10px !important;
  font-family: "Helvetica Neue","Helvetica","Arial",Sans-Serif !important;
  cursor: pointer !important;
  text-align: center !important;
  width: 100% !important;
  background: #5cb6e7 !important;
  background: -webkit-gradient(linear,left top,left bottom,from(#5cb6e7),to(#317cd7)) !important;
  background: -moz-linear-gradient(top,#5cb6e7,#317cd7) !important;
  background: -ms-linear-gradient(top,#5cb6e7,#317cd7) !important;
  background: linear-gradient(top,#5cb6e7,#317cd7) !important;
  color: white !important;
  font-weight: bold !important;
  border:1px solid #0C67A5 !important;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5) !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3) !important;
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3) !important;
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3) !important;
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3) !important;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3) !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
}

#addToWunderlistButton.amazon span.wunderlist-icon {
  float:left !important;
  height:24px !important;
  width:24px !important;
  background-size: 24px !important;
  margin-left:10px !important;
  margin-top:-2px !important;
}

/* IMDB */

#addToWunderlistButton.imdb {
  padding:0 8px !important;
  margin: 15px 0 0 0 !important;
  float: left !important;
}

#addToWunderlistButton.imdb span.wunderlist-icon {
  float:left !important;
  margin-top: 6px !important;
  margin-right: 6px !important;
}

/* ASOS */

#addToWunderlistButton.asos {
  margin: 12px 100px 0 0 !important;
  float: right !important;
}

#addToWunderlistButton.asos span.wunderlist-icon {
  margin: 1px 10px -1px 0 !important;
  vertical-align: bottom !important;
  display: inline-block !important;
  height: 14px !important;
  width: 14px !important;
  background-size: 14px !important;
}

/* YOUTUBE */

#addToWunderlistButton.youtube {
  display:inline-block;
  color:#333;
  text-shadow:0 1px 0 white;
  font-weight:bold;
  vertical-align:top;
  height:auto;
  margin-left: 10px;
  padding: 6px 6px 5px 30px;
  position: relative;
}

#addToWunderlistButton.youtube span.wunderlist-icon {
  position:absolute;
  left:6px;
  top:3px;
}

/* EBAY */

#addToWunderlistButton.ebay {
  position: relative;
  height:17px;
  width:17px;
  overflow: hidden;
  top: -20px;
  left: -17px;
}

#addToWunderlistButton.ebay span.wunderlist-icon {
  height: 17px !important;
  width: 17px !important;
  background-size: 17px !important;
}

/* WIKIPEDIA */

#addToWunderlistButton.wikipedia {
  margin-top:5px;
}

#addToWunderlistButton.wikipedia span.wunderlist-icon {
  float:left;
  margin-right:5px;
}

/* ETSY */

#addToWunderlistButton.etsy{
  color:#888;
  padding:0 9px 0 29px;
}

#addToWunderlistButton.etsy span.wunderlist-icon {
  padding:0 !important;
  position: absolute;
  left: 7px;
  top: 3px;
}